.header-bg{
    background-color: #FFF9F4;
}

.nr-color{
    color: #FA804C;
}

.infinity{
    color: #363958;
}

.hd-padding{
    padding-bottom:130px;
}

.cart-size{
    width: 30px;
} 

.hd-text{
    font-size: 50px;
}